# Gradle
.gradle/
/build/
**/build/
gradle-app.setting

# Android Studio
.idea/
.DS_Store
/local.properties
*.iml

# Firebase & Google Services
google-services.json
GoogleService-Info.plist

# Logs
*.log

# Misc
/captures/
/outputs/
/release/
*.apk
*.aab

# Secrets
**/keys/
**/secrets/
.env

# Jetpack Compose cache
.kotlin/
